{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "debugger": false,
        "targets": {
          "browsers": [
            "> 1%",
            "last 2 versions",
            "not ie <= 8"
          ]
        }
      }
    ],
    "stage-3"
  ],
  "plugins": [
    "syntax-dynamic-import"
  ]
}